/* DashboardNavBar.css */

/* Basic styling for the navbar */
.dashboard-navbar-container {
    padding: 10px;
}

.dashboard-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    color: white;
    position: relative;
}

.dashboard-logo-wrapper .dashboard-logo {
    height: 30px;
}

/* Hamburger icon (visible only on mobile) */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: rgb(68, 68, 68);
}

/* Navbar links */
.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 20px;
}

.nav-links li {
    margin: 0 10px;
}

.nav-link {
    display: flex;
    align-items: center;
    color: #555;
    text-decoration: none;
    font-size: 16px;
}

.nav-link span {
    margin-left: 5px;
}

/* On mobile, hide the nav links and show hamburger menu */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 80px;  /* Below the navbar */
        right: 10px;
        width: 35%;
        background-color: lightblue;
        border-radius: 20px;
    }

    .nav-links.open {
        display: block;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }

    .nav-link span {
      display: flex;
    }

    .nav-link {
        margin-left: 15px;
    }
}

@media (min-width: 769px) {
    .hamburger {
        display: none; /* Hide hamburger on desktop */
    }
}
