/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
  }
  
  .modal-content h2 {
    margin: 0 0 10px;
  }
  
  .modal-content button {
    margin-top: 10px;
  }

  
  
  .books-table th,
  .books-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 0.8rem;
  }
  
  .books-table th {
    background-color: #f2f2f2;
  }
  
  .books-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .books-table tr:hover {
    background-color: #f1f1f1;
  }

  .return-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .return-button:hover {
    background-color: #0056b3;
  }
  
  /* Disabled style */
  .return-button.disabled {
    background-color: #d3d3d3;
    color: #888888;
    cursor: not-allowed;
  }

  

  
  button {
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 80px;
    height: 45px;
    transition: 0.3s;
    margin: 5px;
  }
  
  .approve-button {
    background-color: #32cf47;
  }
  .reject-button {
    background-color: #f63b3b;
  }
  .reject-button:hover {
    background-color: #f63b3b;
    box-shadow: 0 0 0 5px #f63b3b5f;
  }
  
  .approve-button:hover {
    background-color: #32cf47;
    box-shadow: 0 0 0 5px #4bf63b5f;
    color: #fff;
  }
  
  .approved:disabled,
  .rejected:disabled,
  .returned:disabled,
  .return-book:disabled {
    color: black;
    background-color: grey;
    cursor: not-allowed; /* Change cursor to indicate it's disabled */
    pointer-events: none; /* Prevent hover effects */
    /* Remove any hover effect styles here if needed */
  }
  
  