
.borrow-form {
    margin-top: 150px;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #bebebe;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
    color: #4CAF50;
    font-size: 24px;
  }
  
  h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .book-input {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    
  }
  
  .book-input input {
    display: flex;
    flex: 1;
  }

 
 
  .btn-wrapper {
    display: flex;
    flex-direction: column;
  }

  .add-book-btn, .submit-req-btn {
    background-color: #b4b4b4;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    transition: 0.3s;
    
  }
  
  
.add-book-btn:hover {
  background-color: #3b4ef6;
  box-shadow: 0 0 0 5px #3b4ef65f;
  color: #fff;
}

.terms-conditions-container{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Adjust the spacing between the checkbox and the text */
}

.confirm-box{
  margin: 0;
}

.terms-conditions-container div {
  margin: 0;
}
.submit-req-btn:hover {
  background-color: #32cf47;
  box-shadow: 0 0 0 5px #4bf63b5f;
  color: #fff;
}


/* Modal overlay styling */
.qr-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other elements */
}
